/* styles.css */
* {
	font-family: Calibri, Verdana, Sans-Serif;
	background-color: beige;
}

#addrloc {
	display: inline-block;
}

.codedata {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.codedisplay {
	text-align: left;
	resize: none;
	height: 350px;
	max-height: 350px;
}